body{
    background-color: rgb(150, 245, 150);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(14, 37, 14);
}
h2{
    color: rgb(51, 11, 11);
}
p{
    text-align: justify;
}
#principal{
    text-align: center;
    color: red;
    text-shadow: 2px 2px black;
    /*Colocando sobra no texto e alinhando ele ao centro*/
}
.mudar{
    background-color: rgb(216, 201, 201);
    border-width: 1px ;
    border-radius: 2px;
    border-style: solid;
    padding-top: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    box-shadow: 2px 2px 2px black;
}